* {
    font-size: 48px;
}

.container {
    display: flex;

    justify-content: center;
    align-content: space-between;
    text-align: center;
    flex-direction: column;
    padding-bottom: 0;
}

.clickyWords {
    justify-content: space-evenly;
    display: flex;
}

img {
    max-height: 500px;
    margin-top: 20px;
}

@media screen and (max-width: 1200px) {
    img {
        height: 1200px;
        margin-top: 20px;
    }
}
